.disabled {
    opacity: .5;
    pointer-events: none;
    user-select: none;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.76);
    display: grid;
    place-content: center;

    .modal-cont {
        background: white;
        min-width: 831px;
        border-radius: 10px;
        padding: 1rem;
    }

    .modal-cont.action-modal {
        padding-bottom: 2rem !important;
        height: auto;
        min-width: 27rem !important;

        .bottomCont {
            position: absolute;
            bottom: 1rem;
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            width: calc(100% - 4rem);
        }
    }

    .modal-cont.edit-modal {
        padding-bottom: 2rem !important;
        height: auto;

        .inputSets {
            margin-top: 0rem !important;
        }

        .bottomCont {
            position: absolute;
            bottom: 1rem;
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            width: calc(100% - 4rem);
        }
    }
}

.finalBarCont {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.finalBar {
    width: min-content;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(115.2deg, rgba(157, 237, 255, 0.34) 3.72%, rgba(198, 255, 125, 0.34) 68.31%);
    border: 3px solid rgba(99, 158, 27, 0.2392156863);
    border-radius: 7px;
    margin-top: 1rem;
    overflow: hidden;

    &:nth-child(1),
    &:nth-child(2) {
        filter: hue-rotate(215deg) saturate(.4);
        height: min-content;
        min-width: 9rem !important;

        .totalAmount {
            font-size: 2rem;
            font-weight: 700;
        }
    }

    &:nth-child(2) {
        filter: hue-rotate(100deg) saturate(.1);
    }

    &:nth-child(3) {
        filter: hue-rotate(83deg);
    }

    * {
        font-weight: 600;
    }

    .title {
        padding: .5rem 1rem;
        font-weight: 600;
        
    }

    .totalAmount {
        font-size: 3rem;
        color: rgb(56, 56, 56);
        padding: .5rem 1rem;
        padding-top: 0rem;
    }
}