.disabled {
    opacity: .5;
    pointer-events: none;
    user-select: none;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.76);
    display: grid;
    place-content: center;

    .modal-cont {
        background: white;
        min-width: 831px;
        border-radius: 10px;
        padding: 1rem;
    }

    .modal-cont.action-modal {
        padding-bottom: 2rem !important;
        height: auto;
        min-width: 27rem !important;

        .bottomCont {
            position: absolute;
            bottom: 1rem;
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            width: calc(100% - 4rem);
        }
    }

    .modal-cont.edit-modal {
        padding-bottom: 2rem !important;
        height: auto;

        .inputSets {
            margin-top: 0rem !important;
        }

        .bottomCont {
            position: absolute;
            bottom: 1rem;
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            width: calc(100% - 4rem);
        }
    }
}