.disabled {
    opacity: .5;
    pointer-events: none;
    user-select: none;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.76);
    display: grid;
    place-content: center;

    .modal-cont {
        background: white;
        min-width: 831px;
        border-radius: 10px;
        padding: 1rem;
    }
}