@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'remixicon/fonts/remixicon.css';

html, body {
    margin: 0;
    padding: 0;
}

html * {
    color: #484848;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-height: 719px) {
    html {
        // transform: scale(.75, .75);
        zoom:.75;
        zoom: 75%;

    }
}


:root {
    //Accent Colors
    --accentLight: #FFFFFF;

    --accentPrimary: #6750A4;
    --accentPrimaryLight: #EADDFF;
    --accentPrimaryDark: #21005D;
    --accentPrimaryText: #7C68B0;
    --accentPrimaryTextLight: #35166D;
    --accentPrimaryTextDark: #EADDFF;

    
    --accentSecondary: #625B71;
    --accentSecondaryLight: #E8DEF8;
    --accentSecondaryDark: #1D192B;
    --accentSecondaryText: #625B71;
    --accentSecondaryTextLight: #231F31;
    --accentSecondaryTextDark: #D4CAE4;


    --accentTertiary: #7D5260;
    --accentTertiaryLight: #FFD8E4;
    --accentTertiaryDark: #31111D;
    --accentTertiaryText: #7E5361;
    --accentTertiaryTextLight: #40202C;
    --accentTertiaryTextDark: #F3CCD8;


    --accentError: #B3261E;
    --accentErrorLight: #F9DEDC;
    --accentErrorDark: #410E0B;
    --accentErrorText: #B73129;
    --accentErrorTextLight: #501E1B;
    --accentErrorTextDark: #F8DCDA;


    --accentYellow: #765B00;
    --accentYellowLight: #FFE088;
    --accentYellowDark: #241A00;
    --accentYellowText: #7C620B;
    --accentYellowTextLight: #271D02;
    --accentYellowTextDark: #FFE088;


    --accentOrange: #914C00;
    --accentOrangeLight: #FFDCC1;
    --accentOrangeDark: #2F1500;
    --accentOrangeText: #914C00;
    --accentOrangeTextLight: #2F1500;
    --accentOrangeTextDark: #F9D6BB;


    --accentGreen: #4B6708;
    --accentGreenLight: #CDEF85;
    --accentGreenDark: #131F00;
    --accentGreenText: #5A741D;
    --accentGreenTextLight: #26350D;
    --accentGreenTextDark: #B3D172;

    // Site colors
    --background: white;
    --input-background: #F1F1F1;
    --text: black;
    --border: #D9D9D9;
    --dark-border: #979797;
    --foreground: #484848;


    --dual: #f3f3f3;
    --tone: #e6e6e6;

    // Some On OFF Button bg and fg
    --btn-bg: #4A76FA;
    --btn-bg2: #4278ff12;
    --btn-fg: #3762D1;
}


// Generic Button
.anchorButton {
    text-decoration: none;
    background: #3E58BE;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .8px;
    padding: .4rem .9rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 4px;

    i {
        color: currentColor;
    }


    &:hover {
        transform: scale(1.02);
        filter: brightness(1.1);
    }

    &:active {
        transform: scale(.98);
    }
}

.uiInputCont {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    .inputTopBar {
        font-weight: 600;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;

        label {
            cursor: pointer;
        }

        // Extra deviation
        .actionable {
            display: flex;
            align-items: center;
            gap: .5rem;

            .actionableTitle {
                font-size: .8rem;
                cursor: pointer;
            }


        }
    }

    input[type="text"],  input[type="password"], input[type="number"],
    input[type="date"] {
        background: var(--input-background);
        border: .16rem solid var(--border);
        font-weight: 500;
        padding: .6rem .6rem;
        font-size: 1rem;
        border-radius: 7px;
        width: 14rem;
        outline-color: var(--dark-border);
    }

    textarea {
        background: var(--input-background);
        border: .16rem solid var(--border);
        font-weight: 500;
        padding: .6rem .6rem;
        font-size: 1rem;
        border-radius: 7px;
        width: 14rem;
        min-height: 8rem;
        outline-color: var(--dark-border);
        resize: none;
    }

    .elementType {
        position: relative;
        padding: .6rem .6rem;
        width: 14rem;
        min-height: 8rem;
        max-height: 8rem;
        background: var(--input-background);
        border: .16rem solid transparent;
        border-radius: 7px;

        display: flex;
        align-items: center;
        justify-content: center;

        .wrapper {
            overflow: hidden;
            border-radius: 7px;
            img {
                width: 12rem;
                height: 7rem;
                object-fit: cover;
                border-radius: 7px;
            }
        }

        i {
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 1rem;
            padding: .6rem;
            margin: .3rem;
            background: #484848;
            color: white;
            border-radius: 7px;

            &:hover {
                filter: brightness(.9);
            }
        }
    }

    .err {
        width: 14rem;
        font-size: .7rem;
        font-weight: 500;
        color: rgb(216, 13, 13);
        letter-spacing: .5px;
    }
}


.bigUiActionButton {
    cursor: pointer;
    border: none;
    font-weight: 500;
    padding: .6rem .6rem;
    font-size: 1rem;
    border-radius: 7px;
    background: #3E58BE;
    color: white;
    letter-spacing: 1px;
    width: min-content;
    min-width: 7rem;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        transform: scale(.98);
    }
}

.sectionHeader {
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .6rem;
    letter-spacing: 7px;
    color: #4D5B81;

    &::after {
        content: '';
        position: absolute;
        width: 1rem;
        height: .12rem;
        background: #4D5B81;
        left: 0;
        bottom: -.5rem;
    }
}

.sectionHeader.box {
    margin-top: 3rem;
    margin-bottom: 2rem;
    &::after {
        content: '';
        position: absolute;
        width: .5rem;
        height: .5rem;
        left: 0;
        bottom: -.6rem;
    }
}

.uiTextOnlyButton {
    cursor: pointer;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.uiToggleSwitcher {
    cursor: pointer;
    position: relative;
    background: #484848;
    min-width: 2.2rem;
    height: 1.2rem;
    border-radius: 100px;
    transition: color 300ms;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: .25rem;
    padding-right: .25rem;

    &::after {
        position: relative;
        content: '';
        left: 0;
        width: .8rem;
        height: .8rem;
        background: white;
        border-radius: inherit;
        transition: left 300ms, right 300ms;
        
    }

}


.uiToggleSwitcher.mini {
    min-width: 1.8rem;
    height: 1rem;

    &::after {
        width: .62rem;
        height: .62rem;
    }

    &.selected{
        &::after{
            left: 1.22rem !important;
        }
    }
}


.uiToggleSwitcher.disabled {
    opacity: .5;
    pointer-events: none;
}

.uiToggleSwitcher.selected {
    background: #1D5372;
    &:after {
        left: 1.45rem;
    }
}

.uiColoredIcoBtn {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding: .7rem 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background: #3E58BE;
    color: white;
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: 1px;

    i {
        color: currentColor;
        font-weight: normal;
        font-size: 1.2rem;
    }

    transition: transform 300ms ease;
    &:hover {
        transform: translateY(-.2rem);
    }

    &:active {
        transform: scale(.9);
    }
}

.uiColoredIcoBtn.red {
    background: #FFE5DD;
    color: #BD5434;
}

.uiColoredIcoBtn.green {
    background: #F0FFDD;
    color: #43562A;
}

.uiColoredSpecBtn {
    color: #AC4242;
    background: #FFD6D6;
    cursor: pointer;
    border: 0;
    border-radius: 100px;
    
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: 1px;
    padding: 0rem;
    padding-right: 1rem;

    div {
        border-radius: 5px;
        color: #AC4242;
    }

    i {
        background: rgba(255, 134, 134, 0.58);
        color: #AC4242;
        border-radius: 100px;
        font-size: 2rem;
        font-weight: normal;
        padding: .22rem;
        outline: 4px solid white;
    }
}


.customScroll {
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 100px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 100px;
        
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 100px;
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
}


    ::-webkit-scrollbar {
        width: 5px;
        border-radius: 100px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 100px;
        
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 100px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }


.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}